<li>
  <h2>{{name}}</h2>
  <h3>{{nativeName}}</h3>
  <div class="country-content">
    <div class="text-wrapper">
      <p class="titles"><span>Capital:</span> {{capital}}</p>
      <p class="titles"><span>Population:</span> {{population}}</p>
      <p class="titles title-lang">Languages:
        <ul class="language-list">
          {{#each languages}}
          <li class="language-list__item">{{this.name}}</li>
          {{/each}}
        </ul>
      </p>
    </div>
    <div class="flag-img"><img src="{{flag}}" alt="country flag image" width="220"></div>
  </div>

</li>